###############
#    folder   #
###############
/**/DROP/
/**/TEMP/
/**/packages/
/**/bin/
/**/obj/

# generated content
.cache
_site/
api/

# the post-processor plugin, built from plugins/ by the docs workflow
templates/EssSharp/plugins/
